:root{
    --azul: #6EB3D0;
    --verde: #3e951a;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
    --preto: #424242;
    --branco: #FFFFFF;
}


header,footer{
    background-color: var(--azul);
}

.card{
    padding: 1rem;
 
    border: var(--preto) 2px solid;
}

.card button{
    height: 30px;
    background-color: var(--rosa);
    color: var(--preto);
    border: none;
    border-radius: 0%;
}

.card button:hover{
    background-color: #b46286;
}
.card button:active{
    background-color: var(--branco)!important;
    color: var(--rosa)!important;
}

.buttonModais{
    width: 100px !important;
    height: 150px;
}
form input{
    border: 1px solid black!important;
    height: 23px;
    font-size: 8pt !important;
    text-align: center;
}

@media screen and (min-width: 800px){

    main{
        margin: 40px;
        height: 750px;
    }
    #formularioDiv, #formularioBanner{
        margin: 40px;
        height: 500px !important;
    }
    #formulario label{
        font-size: 20pt !important;
    }
    #formulario input{
        height: 30pt!important;
    }
} 

@media screen and (max-width: 799px){
    #imgLogo{
        display: none!important;
    }
}
